DEMO_MODE=true
SAMPLE_PDF=sample_invoice.pdf

TENANT_ID=your_tenant_id
CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret
DRIVE_ID=your_sharepoint_drive_id

SHAREPOINT_FILE_PATH=Finance Documents/invoice_101.pdf

AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_DEFAULT_REGION=ap-south-1

S3_BUCKET=company-rag-data
S3_KEY=raw/invoices/invoice_101.pdf
METADATA_KEY=metadata/invoices/invoice_101.json
